Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2017-2021 Jens Lechtenb√∂rger
# SPDX-License-Identifier: CC0-1.0

image: registry.gitlab.com/oer/emacs-reveal/emacs-reveal:8.29.0

test:
  script:
    - make docker-check
  only:
    refs:
      - master
      - merge_requests
    changes:
      - Makefile
      - "**/*.el"

pages:
  stage: deploy
  script:
    - emacs --batch -L /root/.emacs.d/elpa/emacs-reveal/org-mode/lisp --load org-re-reveal.el --load test-cases/publish.el
  artifacts:
    paths:
      - public
  only:
    refs:
      - master
      - lechten
    changes:
      - "**/*.org"
      - "**/*.el"
      - ".gitlab-ci.yml"

Remove erroneous div
  test-cases/expect-slide-container.html
Due: none

Add test case
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-slide-grid-wrapper.html
  test-cases/test-slide-grid-wrapper.org
Due: test, pages

Document org-re-reveal-slide-grid-div
  Readme.org
Due: pages

Add grid-head heading
  test-cases/expect-slide-grid-wrapper.html
  test-cases/test-slide-grid-wrapper.org
Due: pages

Clarify wrapping on generated slides
  test-cases/expect-slide-grid-wrapper.html
  test-cases/test-slide-grid-wrapper.org
Due: pages

Do not place slide footer inside slide container
  org-re-reveal.el
Due: test, pages

Extend test case for issue #69
  test-cases/expect-slide-container.html
  test-cases/test-slide-container.org
Due: pages

Version 3.12.5
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Fix test case for footer outside slide div
  test-cases/expect-slide-grid-wrapper.html
Due: none

Remove div surrounding subheading
  org-re-reveal.el
Due: test, pages

Add slide with subheading
  test-cases/expect-slide-grid-wrapper.html
  test-cases/test-slide-grid-wrapper.org
Due: pages

Add variable org-re-reveal-mobile-app
  org-re-reveal.el
Due: test, pages

Add test case for org-re-reveal-mobile-app
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-mobile-app.html
  test-cases/test-mobile-app.org
Due: test, pages

Add org-re-reveal-mobile-app
  Readme.org
Due: pages

Version 3.13.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Refactor generation of data URI
  org-re-reveal.el
Due: test, pages

Enable data URIs for background images
  org-re-reveal.el
Due: test, pages

Document keyword REVEAL_TITLE_SLIDE_EXTRA_ATTR
  Readme.org
Due: pages

Version 3.14.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Document title slide better
  Readme.org
  org-re-reveal.el
Due: test, pages

Encode data-uris without line breaks
  org-re-reveal.el
  test-cases/expect-embed-resources.html
Due: test, pages

Version 3.14.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Refactor handling of slide attributes
  org-re-reveal.el
Due: test, pages

Add test cases
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-backgrounds-revealjs4.html
  test-cases/expect-backgrounds.html
  test-cases/test-backgrounds-revealjs4.org
  test-cases/test-backgrounds.org
Due: test, pages

Document changes
  CHANGELOG.org
  Readme.org
Due: pages

Provide hints for multi-column layouts
  Readme.org
Due: pages

Add pointer on image resizing
  Readme.org
Due: pages

Version 3.15.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Quote apostrophes properly
  org-re-reveal.el
Due: test, pages

Prefer math plugin over MathJax script element
  org-re-reveal.el
Due: test, pages

Add test case of math plugin
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-math.html
  test-cases/test-math.org
Due: test, pages

Document MathJax alternatives
  Readme.org
Due: pages

Version 3.16.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Turn SPDX headers into keywords
  index.org
Due: pages

Refactor test for presence of math plugin
  org-re-reveal.el
Due: test, pages

Version 3.16.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Improve documentation for extra CSS
  Readme.org
  org-re-reveal.el
Due: test, pages

Refactor remote plugin paths
  org-re-reveal.el
Due: test, pages

Generalize plugin config from triples to lists
  org-re-reveal.el
Due: test, pages

Interpret additional plugin parts as CSS
  org-re-reveal.el
Due: test, pages
