Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  script:
  - make check

pages:
  stage: deploy
  script:
  - emacs --batch -L /root/.emacs.d/elpa/emacs-reveal/org-mode/lisp --load org-re-reveal.el --load test-cases/publish.el
  artifacts:
    paths:
    - public

Document changes
  CHANGELOG.org
  Readme.org
Due: pages

Add/update test cases for footer handling
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-footer-global.html
  test-cases/expect-footer.html
  test-cases/test-footer-global.org
  test-cases/test-footer.org
Due: test, pages

Add test cases
  index.org
Due: pages

Version 3.5.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add badges for MELPA URLs
  Readme.org
Due: pages

Remove file prefixes
  Readme.org
Due: pages

Allow URL for plugin code
  org-re-reveal.el
Due: test, pages

Document change
  CHANGELOG.org
  Readme.org
Due: pages

Add test case
  Makefile
  index.org
  org-re-reveal-tests.el
  test-cases/expect-remote-plugin.html
  test-cases/test-remote-plugin.org
Due: test, pages

Version 3.6.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Support custom themes
  Readme.org
  index.org
  org-re-reveal-tests.el
  org-re-reveal.el
  test-cases/expect-custom-theme.html
  test-cases/test-custom-theme.org
Due: test, pages

Update doc string for new option
  org-re-reveal.el
Due: test, pages

Version 3.7.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update Gitlab URLs
  Readme.org
Due: pages

Add CDN example
  Readme.org
Due: pages

Help users with proper setup
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add support for option totalTime
  org-re-reveal.el
Due: test, pages

Also format numbers
  org-re-reveal.el
Due: test, pages

Remove superfluous empty line
  test-cases/expect-blockquote.html
  test-cases/expect-custom-theme.html
  test-cases/expect-extra-scripts.html
  test-cases/expect-footer-global.html
  test-cases/expect-footer.html
  test-cases/expect-highlightjs.html
  test-cases/expect-internal-links.html
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
  test-cases/expect-merge-classes.html
  test-cases/expect-multiplex.html
  test-cases/expect-noslide.html
  test-cases/expect-options.html
  test-cases/expect-pdf-notes.html
  test-cases/expect-plugins.html
  test-cases/expect-remote-plugin.html
  test-cases/expect-reveal-toc.html
  test-cases/expect-revealjs4.html
  test-cases/expect-slide-numbers-reveal-toc.html
  test-cases/expect-slide-numbers-toc.html
  test-cases/expect-slide-numbers.html
  test-cases/expect-split.html
  test-cases/expect-src-blocks-hl.html
  test-cases/expect-src-blocks-no-hl.html
  test-cases/expect-title-slide-notes.html
  test-cases/expect-title-slide.html
Due: none

Fix typo
  org-re-reveal-tests.el
Due: test, pages

Add test case
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-timing.html
  test-cases/test-timing.org
Due: test, pages

Fix typos
  Readme.org
Due: pages

Document totalTime, improve wording
  Readme.org
Due: pages

Version 3.8.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Link to new test case
  index.org
Due: pages

Turn nil options into t options
  org-re-reveal.el
Due: test, pages

Version 3.8.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add postscript
  org-re-reveal.el
Due: test, pages

Add test case for postscript
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-postscript.html
  test-cases/test-postscript.org
Due: test, pages

Document postscript option
  CHANGELOG.org
  Readme.org
Due: pages

Version 3.9.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Mention escape sequences for pre/postamble
  Readme.org
Due: pages

Fix typo
  org-re-reveal.el
Due: test, pages

Add option reveal_embed_local_resources
  org-re-reveal.el
Due: test, pages

Add test case
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-embed-resources.html
  test-cases/test-embed-resources.org
Due: test, pages

Document option reveal_embed_local_resources
  Readme.org
Due: pages

Version 3.10.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update test case
  test-cases/expect-embed-resources.html
  test-cases/test-embed-resources.org
Due: pages

Add test case for reveal_embed_local_resources
  index.org
Due: pages

Add container for slide contents
  org-re-reveal.el
Due: test, pages

Path conditions:
  test: any of: Makefile, **/*.el
  pages: any of: **/*.org, **/*.el, .gitlab-ci.yml
