Repository emacsmirror/org-re-reveal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  script:
  - make check

pages:
  stage: deploy
  script:
  - emacs --batch -L /root/.emacs.d/elpa/emacs-reveal/org-mode/lisp --load org-re-reveal.el --load test-cases/publish.el
  artifacts:
    paths:
    - public

Add test case for slide container
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-slide-container.html
  test-cases/test-slide-container.org
Due: test, pages

Document slide container
  Readme.org
Due: pages

Use and recommend SPDX header
  CONTRIBUTING.md
Due: none

Version 3.11.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update Docker image
  .gitlab-ci.yml
Due: pages

Fix URL for Docker image
  .gitlab-ci.yml
Due: pages

Fix org-re-reveal-toc-slide-title with language
  org-re-reveal.el
Due: test, pages

Add test cases for TOC title
  Makefile
  org-re-reveal-tests.el
  test-cases/expect-toc-de.html
  test-cases/expect-toc-default.html
  test-cases/expect-toc-user.html
  test-cases/test-toc-de.org
  test-cases/test-toc-default.org
  test-cases/test-toc-user.org
Due: test, pages

Version 3.12.0
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Update broken URL
  Makefile
Due: test

Add check with emacs-reveal
  Makefile
Due: test

Use new make target
  .gitlab-ci.yml
Due: pages

Add role of Org 9.5 to TOC
  org-re-reveal.el
Due: test, pages

Update test cases to Org 9.5
  test-cases/expect-blockquote.html
  test-cases/expect-custom-theme.html
  test-cases/expect-embed-resources.html
  test-cases/expect-extra-scripts.html
  test-cases/expect-footer-global.html
  test-cases/expect-footer.html
  test-cases/expect-highlightjs.html
  test-cases/expect-internal-links.html
  test-cases/expect-klipsify-python.html
  test-cases/expect-klipsify.html
  test-cases/expect-merge-classes.html
  test-cases/expect-multiplex.html
  test-cases/expect-noslide.html
  test-cases/expect-options.html
  test-cases/expect-pdf-notes.html
  test-cases/expect-plugins.html
  test-cases/expect-postscript.html
  test-cases/expect-remote-plugin.html
  test-cases/expect-reveal-toc.html
  test-cases/expect-revealjs4.html
  test-cases/expect-slide-container.html
  test-cases/expect-slide-numbers-reveal-toc.html
  test-cases/expect-slide-numbers-toc.html
  test-cases/expect-slide-numbers.html
  test-cases/expect-split.html
  test-cases/expect-src-blocks-hl.html
  test-cases/expect-src-blocks-no-hl.html
  test-cases/expect-timing.html
  test-cases/expect-title-slide-notes.html
  test-cases/expect-title-slide.html
  test-cases/expect-toc-de.html
  test-cases/expect-toc-default.html
  test-cases/expect-toc-user.html
Due: none

Update to reveal.js 4 based on emacs-reveal
  test-cases/publish.el
Due: test, pages

Minor updates
  Readme.org
Due: pages

Add and use target for CI pipeline
  .gitlab-ci.yml
  Makefile
Due: test, pages

Remove build dependency
  Makefile
Due: test

Add local directory for dcheck
  Makefile
Due: test

Also deploy on makefile changes
  .gitlab-ci.yml
Due: pages

Also test for CI changes
  .gitlab-ci.yml
Due: pages

Allow to embed built-in plugins
  org-re-reveal.el
Due: test, pages

Document library embedding better
  Readme.org
Due: pages

Version 3.12.1
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Make sure to guess reveal.js version
  org-re-reveal.el
Due: test, pages

Version 3.12.2
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Display message also on terminal
  org-re-reveal.el
Due: test, pages

Remove URI prefix from plugins
  org-re-reveal.el
Due: test, pages

Version 3.12.3
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Explain fork
  Readme.org
Due: pages

Mention ox-reveal
  Readme.org
Due: pages

Check only inline image links for embedding
  org-re-reveal.el
Due: test, pages

Version 3.12.4
  CHANGELOG.org
  org-re-reveal.el
Due: test, pages

Add org-re-reveal-citeproc
  Readme.org
Due: pages

Mention OS as example
  org-re-reveal.el
Due: test, pages

Mention metadata and Docker image
  org-re-reveal.el
Due: test, pages

Improve doc strings for slide headers and footers
  org-re-reveal.el
Due: test, pages

Refactor with org-re-reveal--if-format
  org-re-reveal.el
Due: test, pages

Add and use org-re-reveal-slide-grid-div
  org-re-reveal.el
Due: test, pages

Path conditions:
  test: any of: Makefile, **/*.el
  pages: any of: **/*.org, **/*.el, .gitlab-ci.yml
